@model ForTheFisherman.Models.Lure

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Lure</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LureType.typename)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LureType.typename)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.lId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
