@model IEnumerable<ForTheFisherman.Models.FishingSession>

@{
    ViewBag.Title = "Index";
}

<div id="fishingSessionIndex">
    @Html.Action("IndexPartial")
</div>

<div id="catchIndex">
    @Html.Action("IndexPartial", "Catch")
</div>

<div id="catch"></div>
<div id="fishSpecies"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval") @* Necessary for partial views! *@
    <script src="~/Scripts/ListFishSpecies.js"></script>

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script>
        var id = ""; // id is set in CreateSuccess view from TempData

        // Disables Ajax caching, required for IE. Another possible solution:
        // use Response.CacheControl = "No-cache" in controller methods
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
        });

        $(document).on("click", ".deleteLink", function () {
            $(this).parents(".editDelete").hide();
            $(this).parents().siblings(".yesNo").show();

            // If a different Delete link is clicked, show Yes/No only for that link
            $(".deleteLink").not(this).parents().siblings(".yesNo").hide();
            $(".deleteLink").not(this).parents(".editDelete").show();
        });

        $(document).on("click", ".noLink", function () {
            $(this).parents(".yesNo").hide();
            $(this).parents().siblings(".editDelete").show();
        });

        // Refreshes the catch list after you add a new water or edit an existing one
        function updateCatch() {
            $.ajax({
                url: "/Catch/IndexPartial",
                cache: false,
            })
            .done(function (html) {
                $("#catchIndex").html(html);
            });
        }

        $(document).on("click", "#addCatch", function () {
            $("#catch").dialog(
            {
                width: 400,
                height: 600,
                autoOpen: true,
                modal: true,
                title: "Add Catch",
                close: function (event, ui) { updateCatch() }
            });
        });

        $(document).on("click", ".editCatch", function () {
            $("#catch").dialog(
            {
                width: 400,
                height: 600,
                autoOpen: true,
                modal: true,
                title: "Edit Catch",
                close: function (event, ui) { updateCatch() }
            });
        });

        $(document).on("click", "#addSpecies", function () {
            $("#fishSpecies").dialog(
            {
                width: 400,
                height: 600,
                autoOpen: true,
                modal: true,
                title: "Add fish species",
                close: function (event, ui) { listFishSpecies() }
            });
        });
    </script>
}
