@model IEnumerable<ForTheFisherman.Models.FishingSession>

<!-- If the user is redirected to this page after trying to delete a location unsuccessfully a message box is displayed -->
@{if (null != TempData["deleteErrorMessage"])
  {
    <script type="text/javascript">
        alert("@TempData["deleteErrorMessage"]");
    </script>
  }}

<h2>Session</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <tr>
        <th class="hidden">
            @Html.DisplayNameFor(model => model.fsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.FishingMethod.methodname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationMarking.sublocation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.fsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FishingMethod.methodname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationMarking.sublocation)
            </td>
            
            <td>
                <span class="editDelete">
                    @Html.ActionLink("Edit", "Edit", new { id = item.fsId }) |
                    <a href="#" onclick="return false" class="deleteLink">Delete</a>
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.fsId })*@
                </span>
                <span class="yesNo hidden">
                    <a href="#" onclick="return false" class="noLink">No</a> |
                    @Ajax.ActionLink("Yes", "DeleteAjax", new { id = item.fsId }, new AjaxOptions { UpdateTargetId = "fishingSessionIndex" }, new { @class = "yesLink" })
                </span>
            </td>
        </tr>
    }

</table>
