@model ForTheFisherman.Models.LocationMarking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LocationMarking</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lmId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lmId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sublocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sublocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.compaslocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.compaslocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Water.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Water.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GeoCoordinates.gcId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GeoCoordinates.gcId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
