@model ForTheFisherman.Models.LocationMarking

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LocationMarking</legend>

        <div class="hidden">
            @Html.HiddenFor(model => model.lmId)
            @Html.ValidationMessageFor(model => model.lmId)

            @Html.HiddenFor(model => model.gcId, new { id = "gcIdSelect" })
            @Html.ValidationMessageFor(model => model.gcId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sublocation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sublocation)
            @Html.ValidationMessageFor(model => model.sublocation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.compaslocation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.compaslocation)
            @Html.ValidationMessageFor(model => model.compaslocation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.wId, "Water")
        </div>
        <div class="editor-field">
            @Html.DropDownList("wId", String.Empty)
            @Html.ValidationMessageFor(model => model.wId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div id="geo">
    @if (@Model.gcId != null)
    {
        @Html.Action("Details", "GeoCoordinates", new { id = @Model.gcId })
    }
    else
    {
        @Html.Action("Create", "GeoCoordinates")
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
