@model IEnumerable<ForTheFisherman.Models.LocationMarking>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sublocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compaslocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Water.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeoCoordinates.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeoCoordinates.longitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sublocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.compaslocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Water.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeoCoordinates.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeoCoordinates.longitude)
            </td>
            <td>
                <span class="editDelete">
                    @Html.ActionLink("Edit", "Edit", new { id = item.lmId }) |
                    <a href="#" onclick="return false" class="deleteLink">Delete</a>
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.lmId })*@
                </span>
                <span class="yesNo hidden">
                    <a href="#" onclick="return false" class="noLink">No</a> |
                    @Ajax.ActionLink("Yes", "DeleteAjax", new { id = item.lmId }, new AjaxOptions { UpdateTargetId = "locationIndex" }, new { id = "yesLink" })
                </span>
            </td>
        </tr>
        }

</table>
