@{
    ViewBag.Title = "Index";
}

<div id="locationIndex">
    @Html.Action("IndexPartial")
</div>

<div id="waterIndex">
    @Html.Action("IndexPartial", "Water")
</div>

<div id="water"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval") @* Necessary for partial views! *@
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script>
        // Disables Ajax caching, required for IE. Another possible solution:
        // use Response.CacheControl = "No-cache" in controller methods
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
        });

        $(document).on("click", ".deleteLink", function () {
            $(this).parents(".editDelete").hide();
            $(this).parents().siblings(".yesNo").show();

            // If a different Delete link is clicked, show Yes/No only for that link
            $(".deleteLink").not(this).parents().siblings(".yesNo").hide();
            $(".deleteLink").not(this).parents(".editDelete").show();
        });

        $(document).on("click", ".noLink", function () {
            $(this).parents(".yesNo").hide();
            $(this).parents().siblings(".editDelete").show();
        });

        // Refreshes the water list after you add a new water or edit an existing one
        function updateWaters() {
            $.ajax({
                url: "/Water/IndexPartial",
                cache: false,
            })
            .done(function (html) {
                $("#waterIndex").html(html);
            });
        }

        $(document).on("click", "#addWater", function () {
            $("#water").dialog(
            {
                width: 400,
                height: 600,
                autoOpen: true,
                modal: true,
                title: "Add Water",
                close: function (event, ui) { updateWaters() }
            });
        });

        $(document).on("click", ".editWater", function () {
            $("#water").dialog(
            {
                width: 400,
                height: 600,
                autoOpen: true,
                modal: true,
                title: "Edit Water",
                close: function (event, ui) { updateWaters() }
            });
        });
    </script>
}