@model IEnumerable<ForTheFisherman.Models.LocationMarking>

<!-- If the user is redirected to this page after trying to delete a location unsuccessfully a message box is displayed-->
@{if (null != TempData["deleteErrorMessage"])
  {
    <script type="text/javascript">
        alert("@TempData["deleteErrorMessage"]");
    </script>
  }}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sublocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compaslocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Water.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeoCoordinates.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeoCoordinates.longitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sublocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.compaslocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Water.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeoCoordinates.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeoCoordinates.longitude)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.lmId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.lmId })
            </td>
        </tr>
    }

</table>
