@model ForTheFisherman.Models.Fisherman
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.eMail)
                @Html.TextBoxFor(m => m.eMail)
                @Html.ValidationMessageFor(m => m.eMail)
            </li>
            <li>
                @Html.LabelFor(m => m.passwordHashFields)
                @Html.PasswordFor(m => m.passwordHashFields)
            </li>
          <li>
            @Html.LabelFor(m => m.firstName)
            @Html.TextBoxFor(m => m.firstName)
          </li>
          <li>
            @Html.LabelFor(m => m.lastName)
            @Html.TextBoxFor(m => m.lastName)
          </li>
          <li>
            @Html.LabelFor(m => m.phone)
            @Html.TextBoxFor(m => m.phone)
          </li>
          <li>
            @{string id = ViewData.TemplateInfo.GetFullHtmlFieldId("radioM");}
            @Html.RadioButtonFor(model => model.gender, "M", new { id })
            @Html.LabelFor(model => model.gender, "Male", new { @for = id })
            @{id = ViewData.TemplateInfo.GetFullHtmlFieldId("radioF");}
            @Html.RadioButtonFor(model => model.gender, "F", new { id })
            @Html.LabelFor(model => model.gender, "Female", new { @for = id })
            @Html.ValidationMessageFor(model => model.gender)
          </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
