@model ForTheFisherman.Models.Fisherman

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Fisherman</legend>

    <div class="hidden">
        @Html.HiddenFor(model => model.fId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.lastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.eMail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eMail)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.gender)
    </div>
    <div class="display-field">
        @(Model.gender == "M" ? "Male": "Female")
    </div>

    <div class="hidden">
        @Html.HiddenFor(model => model.passwordHashFields)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
