@model ForTheFisherman.Models.Fisherman

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Fisherman</legend>

        <div class="hidden">
            @Html.HiddenFor(model => model.fId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.firstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eMail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eMail)
            @Html.ValidationMessageFor(model => model.eMail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.gender)
        </div>
        <div class="editor-field radio">
            @{string id = ViewData.TemplateInfo.GetFullHtmlFieldId("radioM");}
            @Html.RadioButtonFor(model => model.gender, "M", new { id })
            @Html.LabelFor(model => model.gender, "Male", new { @for = id })
            @{id = ViewData.TemplateInfo.GetFullHtmlFieldId("radioF");}
            @Html.RadioButtonFor(model => model.gender, "F", new { id })
            @Html.LabelFor(model => model.gender, "Female", new { @for = id })
            @Html.ValidationMessageFor(model => model.gender)
            @*@Html.DropDownListFor(model => model.gender, ForTheFisherman.Models.Fisherman.GenderSelectList)*@
        </div>

        <div class="hidden">
            @Html.HiddenFor(model => model.passwordHashFields)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
