@model IEnumerable<ForTheFisherman.Models.Fisherman>

@{
    ViewBag.Title = "Index";
}

<!-- If the user is redirected to this page after trying to delete a fisherman unsuccessfully a message box is displayed-->
   @{if(null != TempData["deleteErrorMessage"])
   {
      <script type="text/javascript">
       alert("@TempData["deleteErrorMessage"]");
      </script>
   }}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th class="hidden">
            @Html.DisplayNameFor(model => model.fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th class="hidden">
            @Html.DisplayNameFor(model => model.passwordHashFields)
        </th>
        <th class="controls-width"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="hidden">
            @Html.HiddenFor(modelItem => item.fId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eMail)
        </td>
        <td>
            @(item.gender == "M" ? "Male": "Female")
        </td>
        <td class="hidden">
            @Html.DisplayFor(modelItem => item.passwordHashFields)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.fId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.fId })
        </td>
    </tr>
}

</table>
