@model ForTheFisherman.Models.FishSpecies


<h2>Create</h2>

@using (Ajax.BeginForm("Create", "FishSpecies", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "fishSpecies" }, new { id = "fishSpeciesForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Fish Species</legend>

        <div class="hidden">
            @Html.HiddenFor(model => model.fiId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fishname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fishname)
            @Html.ValidationMessageFor(model => model.fishname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

      
        <p>
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}


<script>
    $(function(){
        $("#fishSpeciesForm").removeData("validator");
        $("#fishSpeciesForm").removeData("unobtrusiveValidation");
        $("#fishSpeciesForm").each(function () { $.data($(this)[0], 'validator', false); }); //enable to display the error messages
        $.validator.unobtrusive.parse($("#fishSpeciesForm"));

    })
</script>