

@model ForTheFisherman.Models.Catch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Catch</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.weight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.weight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lureweight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lureweight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.depth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.depth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lure.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FishSpecies.fishname)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.cId }) |
    @Html.ActionLink("Back to List", "Index")
</p>



