@model IEnumerable<ForTheFisherman.Models.Catch>

<!-- If the user is redirected to this page after trying to delete a lure unsuccessfully a message box is displayed -->
@{if (null != TempData["deleteErrorMessage"])
  {
    <script type="text/javascript">
        alert("@TempData["deleteErrorMessage"]");
    </script>
  }}

<h2>Catch List</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FishingSession.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FishingSession.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lureweight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.depth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lure.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FishSpecies.fishname)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FishingSession.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FishingSession.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lureweight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lure.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FishSpecies.fishname)
            </td>
            <td>
                <span class="editDelete">
                    @Ajax.ActionLink("Edit", "Edit", new { id = item.cId }, new AjaxOptions { UpdateTargetId = "catch" }, new { @class = "editCatch" }) |
                    <a href="#" onclick="return false" class="deleteLink">Delete</a>

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.cId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.cd })*@
                </span>
                <span class="yesNo hidden">
                    <a href="#" onclick="return false" class="noLink">No</a> |
                    @Ajax.ActionLink("Yes", "DeleteAjax", new { id = item.cId, view = "ListCatch" }, new AjaxOptions { UpdateTargetId = "catchIndex" }, new { @class = "yesLink" })
                </span>
            </td>
        </tr>
    }

</table>
