@model ForTheFisherman.Models.GeoCoordinates

<div>@Model.latitude, @Model.longitude</div>

<div>
    @Ajax.ActionLink("Update", "Update", new { id = @Model.gcId }, new AjaxOptions { UpdateTargetId="geo" })
    @Ajax.ActionLink("Edit", "Edit", new { id = @Model.gcId }, new AjaxOptions { UpdateTargetId="geo" })
</div>

<script>
    document.getElementById("gcIdSelect").value = @Model.gcId
</script>