@model ForTheFisherman.Models.GeoCoordinates

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GeoCoordinates</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gcId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gcId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.latitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.latitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.longitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.longitude)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
