@model ForTheFisherman.Models.Water

<h2>New Water</h2>

@using (Ajax.BeginForm("Create", "Water", null, new AjaxOptions { UpdateTargetId = "water" }, new { id = "waterForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Water</legend>

        <div class="hidden">
            @Html.DisplayNameFor(model => model.wId)
            @Html.EditorFor(model => model.wId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.municipality)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.municipality)
            @Html.ValidationMessageFor(model => model.municipality)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <p>
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}