@model ForTheFisherman.Models.LureType

<h2>New Lure type</h2>

@using (Ajax.BeginForm("Create", "LureType", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "lureType" }, new { id = "lureTypeForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LureType</legend>

        <!---the luretype id is derived from the luretype object sent from the controller-->
        <div class="hidden">
            @Html.LabelFor(model => model.ltId)
            @Html.EditorFor(model => model.ltId)
          
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.typename)
        </div>
        <div class="editor-label">
            @Html.EditorFor(model => model.typename)
            @Html.ValidationMessageFor(model => model.typename)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <p>
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}

<script>
    $(function(){
        $("#lureTypeForm").removeData("validator");
        $("#lureTypeForm").removeData("unobtrusiveValidation");
        $("#lureTypeForm").each(function () { $.data($(this)[0], 'validator', false); }); //enable to display the error messages
        $.validator.unobtrusive.parse($("#lureTypeForm"));

    })
</script>
